pydub
ffmpeg-python
pandas
numpy
matplotlib
seaborn
wordcloud
streamlit
openai-whisper
transformers
torch
pyannote-audio
scikit-learn
duckdb
tabulate
langchain
gradio
huggingface-hub
sentence-transformers
